cloud_id                 = "ds3d4f5g6h78j9k0l45g"
folder_id                = "ds3d4f5g6h78j9k0l45g"
image_id                 = "ds3d4f5g6h78j9k0l45g"
subnet_id                = "ds3d4f5g6h78j9k0l45g"
private_key_path         = "./files/id_rsa"
public_key_path          = "./files/id_rsa.pub"
service_account_key_file = "./files/key.json"
zone                     = "ru-central1-a"
res_zone                 = "ru-central1-a"
region_id                = "ru-central1"
count_app                = "2"