cloud_id                 = "ds3d4f5g6h78j9k0l45g"
folder_id                = "ds3d4f5g6h78j9k0l45g"
image_id                 = "ds3d4f5g6h78j9k0l45g"
zone                     = "ru-central1-a"
public_key_path          = "./files/id_rsa.pub"
private_key_path         = "./files/id_rsa"
subnet_id                = "ds3d4f5g6h78j9k0l45g"
service_account_key_file = "./files/key.json"
res_zone                 = "ru-central1-a"